
.FORM{
    margin: 10% 30%;
    border: solid;
    padding: 20px;
}

.C1{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.C3{
    margin-bottom: 30px;
}

.C4{
    display:flex; 
    justify-content: end;
    
}